
.navbar {
    min-width: 350px;
    width: 100%;
    height : 40px;
    display: flex;
    flex-direction: column;
    background-color: white;
    color:black;
    
    padding-top:10px;
    padding-bottom:5px;
    /*padding-left:5%;*/

}

.navbar a {
    text-decoration: none;
    color: black;
}

.navbar h1{
    font-size: 28px;
    font-weight: 500;
    width: 250px;
}

@media(max-width:600px) {

    .navbar {
        align-items: center;
        padding-left:0px;
        
    }

    
}